@model UTMusic.Web.Models.LoginModel
@{
	ViewBag.Title = "Login";
}

<div class="container-md px-md-5">
	<div id="login-row" class="row justify-content-center align-items-center my-5">
		<div id="login-column" class="col-md-6">
			<div id="login-box" class="col-md-12">
				@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { id = "login-form", @class = "form" }))
				{
					@Html.AntiForgeryToken()
					<h3 class="text-center">Login</h3>
					<div class="form-group">
						<label>Username:</label><br>
						@Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
					</div>
					<div class="form-group">
						<label>Password:</label><br>
						@Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control"} })
						@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
					</div>
					@Html.ValidationSummary(true, "", new { @class = "text-danger" })
					<div class="form-group">
						<div class="col-md-10">
							<div class="checkbox">
								@Html.LabelFor(model => model.Remember, htmlAttributes: new { @class = "control-label mr-1" })
								@Html.EditorFor(model => model.Remember)
								@Html.ValidationMessageFor(model => model.Remember, "", new { @class = "text-danger" })
							</div>
						</div>
					</div>
					<div class="form-group">
						<input type="submit" name="submit" class="btn btn-light" value="Log In">
					</div>
				}
			</div>
		</div>
	</div>
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}