@model HomePageModel
@if (User.Identity.IsAuthenticated)
{
	if (Model.UserSongs != null)
	{
		<h1>My Songs</h1>
		<ul id="plUserList">
			@foreach (var song in Model.UserSongs)
			{
				<li>
					<div class="plItem" file="@song.FileName">
						<span class="plNum"></span>
						<span class="plTitle">@song.Name</span>
						<span class="plLength">
							@Ajax.ActionLink(
								"\n<i class=\"far fa-trash-alt text-white\"></i>\n",
								"DeleteSong", new { @songId = song.Id },
								new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "plwrap" },
								new { @class = "plLength" }
							)
						</span>
					</div>
				</li>
			}
		</ul>
	}
}
@if (Model.AllSongs != null)
{
	<h1>All Songs</h1>
	<ul id="plList">
		@foreach (var song in Model.AllSongs)
		{
			<li>
				<div class="plItem" file="@song.FileName">
					<span class="plNum"></span>
					<span class="plTitle">@song.Name</span>
					@if (User.Identity.IsAuthenticated)
					{
						var className = "fas fa-plus text-white";
						var url = Url.Action("AddSong", "Home", new { @songId = song.Id });
						var hrefName = Html.Raw($" href=\"{url}\"");
						if (Model.UserSongs?.FirstOrDefault(s => s.Id == song.Id) != null)
						{
							className = "fas fa-check text-light";
							hrefName = Html.Raw(String.Empty);
						}
						<span class="plLength">
							<a class="plLength" @hrefName>
								<i class="@className"></i>
							</a>
						</span>
					}
				</div>
			</li>
		}
	</ul>
}